<div class="board-inner" id="status-buttons">
  <ul class="nav nav-tabs" id="myTab">
      <div class="liner"></div>
        <li>
          <a routerLink="/personalInfo" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" data-toggle="tab" title="userinfo">
          <span class = "progress-tabs one">
            <i class="glyphicon glyphicon-user"></i>
          </span>
          </a>
        </li>
        <li>
          <a routerLink="/cardInfo" routerLinkActive="active" data-toggle="tab" title="CardInfo">
            <span class = "progress-tabs two">
              <i class="glyphicon glyphicon-credit-card"></i>
            </span>
          </a>
        </li>

        <li>
          <a routerLink="/addressInfo" routerLinkActive="active" data-toggle="tab" title="AddressInfo">
            <span class = "progress-tabs theree">
              <i class="glyphicon glyphicon-home"></i>
            </span>
          </a>
        </li>

        <li>
            <a routerLink="/summaryInfo" routerLinkActive="active" data-toggle="tab" title="SummaryInfo">
              <span class = "progress-tabs four">
                <i class="glyphicon glyphicon-menu-hamburger"></i>
              </span>
            </a>
          </li>

  </ul>
</div>
